body{
    font-family:arial,helvetica;
    border: 0px;
    margin: 0px;
    background-image: url("../img/bg1.jpg");
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar-track {
    background: black;
}

a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
a:hover{
    text-shadow: 0px 0px 5px red ;
}
/** FONTS **/

.title{
    color: white;
    font-size: 80px;
}

/** FOLDER **/

.folder{
    margin: 100px;
    padding: 50px;
    border-radius: 20px;
    background-image: url("../img/bg1-blur.jpg");
    background-attachment: fixed;
    background-size: cover;
    border: 5px solid grey;
}

.folder::before{
    background-image: url("../img/bg1.jpg");
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.ftitle{
    font-size: 90px;
    color: white;
    background-color: grey;
    width: 100%;
}

.fdescription{
    margin: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}
.fdescription iframe{
    align-items: center;
}

/** IMAGE FILTERS **/

.white{
    filter: invert(1);
}