@media (max-width: 1000px) {

    .title{
        font-size: 150px;
    }

    #codes_list{
        font-size: 50px;
    }
    a{
        font-size: 50px;
    }
    .ftitle{
        background-color: transparent;
        color: grey;
    }
    .folder{
        background-image: none;
        background-color: white;
    }
}